
#replies-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: hidden;
    border: 1px solid black;
    background-color: var(--theme-1-light);
}

#replies-header {
    background-color: var(--theme-1-light);
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--global-padding);
}

#replies-list {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.op-footer {
    display: flex;
    justify-content: flex-end;
}

.post-replies-divider {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: var(--global-padding);
}