#posts-list {
    box-sizing: border-box;
    border: 1px solid black;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

#posts-box-preamble {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

#connecting-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}