.single-post {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    box-sizing: border-box;
    /* padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw; */
    padding: var(--global-padding);
    border-bottom: 1px solid black;
    background-color: var(--theme-1-light);
    animation-name: new-post;
    animation-duration: 1s;
}

@keyframes new-post {
    from {background-color: var(--theme-1-dark);}
    to {background-color: var(--theme-1-light);}
}

.post-header {
    display: flex;
    justify-content: space-between;
}

.post-title {
    font-weight: bold;
}