#navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--theme-1-light);
    border: 1px solid black;
    /* padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw; */
    padding: var(--global-padding);
}

#navbar-left {

}

#navbar-right {

}

.nav-button-group {
    display: flex;
    gap: 1vw;
}

.nav-button {
}