html {
  height: 100vh;
  /* background-image: linear-gradient(rgb(217, 191, 183), rgb(240, 224, 214)); */
  background-image: linear-gradient(rgb(240, 224, 214), rgb(217, 191, 183));
}

h1 {
  font-size: 32px;
}