html {
  height: 100vh;
  /* background-image: linear-gradient(rgb(217, 191, 183), rgb(240, 224, 214)); */
  background-image: linear-gradient(var(--theme-1-light), var(--theme-1-dark));
}

:root {
  --theme-1-light: rgb(240, 224, 214);
  /* --theme-1-dark: rgb(217, 191, 183); */
  --theme-1-dark: rgb(219, 163, 146);
  --global-padding: 8px;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

.full-page-content {
  display: flex;
  flex-direction: column;
  gap: var(--global-padding);
  box-sizing: border-box;
  height: 90vh;
  width: 90vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  overflow: hidden;
}

.specific-page-content {
  flex: 1;
  border: 1px solid black;
}

#page-header {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.session-header-text {
  margin-top: 4vh;
}

.session-box {
  background-color: var(--theme-1-light);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2vh;
}

.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* For use in Posts, FullPost components */
#form-and-box {
  overflow-y: hidden;
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  gap: var(--global-padding);
}

@media (min-width: 1000px) {
  #form-and-box {
    flex-direction: row-reverse;
  }
}

/* For PostPreview and Reply components */
.message-list-element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  background-color: var(--theme-1-light);
  animation-name: new-message;
  animation-duration: 1s;
}

.message-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  padding: var(--global-padding);
  border-right: 1px solid black;
  overflow: hidden;
}

.message-content {
  display: flex;
  flex-direction: column;
  padding: var(--global-padding);
  gap: var(--global-padding);
  flex: 1;
}

.message-header-m {
  display: none;
}

.message-title {
  font-weight: bold;
}

.message-body {
  flex: 1;
}

.message-id {
  text-align: right;
}

.message-footer {
  display: flex;
  justify-content: space-between;
}

.message-profile-picture {
  width: 64px;
}

@media (max-width: 700px) {
  .message-profile-picture {
      width: 32px;
  }

  .message-profile {
      display: none;
  }

  .message-id {
      display: none;
  }

  .message-header-m {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .message-header-m span {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: var(--global-padding);
  }
}

@keyframes new-message {
  from {background-color: var(--theme-1-dark);}
  to {background-color: var(--theme-1-light);}
}